<footer>
    <div class="footer-container">
        <div class="footer-info">
            <strong>인하대학교 재료합성연구실 &nbsp;&nbsp;MATERIALS SYNTHESIS LABORATORY </strong><br><br>
            Department of Polymer Science and Engineering, Inha University<br>
            669, Building 2, 100 Inha-ro, Michuhol-gu, Incheon 22212, Korea
        </div>
        <div style="text-align: right;">
            Tel: +82-32-860-8769 (Lab)<br>
            Copyright © {{ site.time | date: "%Y" }} MSL. All Rights Reserved.
        </div>
    </div>
</footer>
