<!DOCTYPE html>
<html lang="ko">
<head>
{%- if page.home_meta %}
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ '/images/logo.png' | absolute_url }}">
<meta property="og:site_name" content="{{ site.title }}">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "인하대학교 재료합성연구실",
  "alternateName": ["Materials Synthesis Laboratory", "인하대 MSL"],
  "url": "https://imsl.inha.ac.kr/"
}
</script>
<meta name="google-site-verification" content="BxnJuDsgB4O7jUKx7HjwCG65BWmSS0dsDXsCUqBe_Wc" />
{%- endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ page.url | absolute_url }}">
    <title>{% if page.full_title %}{{ page.full_title }}{% else %}{{ page.title }} | MSL Inha{% endif %}</title>
    <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
{%- for css in page.css %}
    <link rel="stylesheet" href="{{ '/css/' | append: css | append: '.css' | relative_url }}">
{%- endfor %}
</head>
<body>
{% include header.html %}

{{ content }}

{% include footer.html %}
</body>
</html>
